# dependencies
node_modules/

# build
.next/
out/
build/

# misc
.DS_Store
.env*
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vim
*.sw[a-z]

# yarn
package-lock.json

# typescript
tsconfig.tsbuildinfo
graphql/autogen/types.ts
